@keyframes fadeAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.awsme-fade-in {
  animation-name: fadeAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.awsme-trigger {
cursor: pointer !important;
padding: 15px;
font-size: 16px;
position: fixed;
right: 0px;
-webkit-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
max-width: 200px;
}

@keyframes wave-animation {
  0%, 100% {
      transform: rotate(12deg);
  }
  50% {
      transform: rotate(-12deg);
  }
}

.awsme-wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 24px;
}

.awsme-sidebar {
display: flex;
flex-direction: column;
height: 100%;
position: fixed;
top: 0;
transition: right 0.3s ease-in-out;
-webkit-box-shadow: -10px 0 10px 0 rgba(0,0,0,0.1);
box-shadow: -10px 0 10px 0 rgba(0,0,0,0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
max-width: 580px;
width: 100vw;
right: -580px;
}

.awsme-sidebar-inner {
display: flex;
align-content: end;
width: 100%;
flex-direction: column;
flex-grow: 1;
overflow: hidden;
}
.awsme-top-area {
display: flex;
flex-wrap: wrap;
width: 100%;
height: fit-content;
padding: 15px 20px;
}

.awsme-close-x {
padding: 5px;
display: flex;
justify-content: right;
position: absolute;
top: 5px;
right: 5px;
}
.awsme-close-x svg {
cursor: pointer !important;
width: 30px;
height: 30px;
right: 15px;
}
.awsme-sidebar-title {
width: 80%;
font-size: 24px;
margin-bottom: 5px;
}
.awsme-top-paragraph {
width: 80%;
font-weight: normal;
font-size: 16px;
}

.awsme-chat-area {
display: flex;
flex-direction: column; 
align-items: flex-end;
flex-grow: 1;
row-gap: 20px;
margin-bottom: 30px;
overflow-y: scroll;
height: -webkit-fill-available;
padding: 20px;
width: 100%;
}

.awsme-input-area {
width: 100%;
padding: 0px 20px;
}

.awsme-chat-input {
display: flex;
align-items: center;
border-radius: 5px;
padding: 10px;
display: flex;
flex-wrap: nowrap;
margin-bottom: 10px;
}
.awsme-user-input {
border: none !important;
padding: 0px;
background: transparent;
max-height: 200px;
min-height: 20px !important;
resize: none;  
overflow-y: hidden; 
width: 100%;
font-size: 18px;
box-shadow: none !important;
}


.awsme-send-icon {
cursor: pointer;
margin-left: 10px;
}
.awsme-send-icon svg {
width: 24px;
height: 24px;
}
.awsme-input-note {
width: 100%;
text-align: center;
margin-bottom: 30px;
font-size: 12px;
}

.awsme-chat-row-wrapper {
width: 100%;
display: flex;
flex-wrap: nowrap;
column-gap: 10px;
position: relative;
}
.awsme-review-row, .awsme-review-options {
display: flex;
flex-wrap: nowrap;
justify-content: left;
margin-bottom: 10px;
margin-left: 10px;
}

.awsme-review-options svg {
width: 15px;
cursor: pointer;
}
.awsme-chat-row-wrapper .awsme-profile {
flex: 0 0 40px; 
padding: 5px; 
width: 40px;
height: 40px;
}

.awsme-ai-chat .awsme-bot .awsme-profile {
  background-size: 40px 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.awsme-user, .awsme-profile,
.awsme-bot {
-webkit-border-radius: 20px;
border-radius: 20px;
background-size: contain;
}

.awsme-message-col {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
}
.awsme-message, .awsme-message-content {
overflow-x: hidden;
display: flex;
flex-direction: column;
flex: 5;       
padding: 5px;   
overflow-wrap: break-word; 
font-weight: normal;
font-size: 18px;
}

p.awsme-message {
margin-bottom: 0px;
}
.awsme-thumbs-up, .awsme-neutral, .awsme-thumbs-down {
margin-right: 10px;
cursor: pointer;
}

.awsme-typing-indicator {
--ti-color-bg: #E6E7ED;
background-color: var(--ti-color-bg);
will-change: transform;
width: auto;
border-radius: 50px;
padding: 10px;
display: table;
margin: 0 auto;
animation: bulge 2s infinite ease-out;
position: absolute;
left: 50px;
}

.awsme-typing-indicator::before,
.awsme-typing-indicator::after {
content: '';
position: absolute;
bottom: -2px;
left: -2px;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: var(--ti-color-bg);
}

.awsme-typing-indicator::after {
height: 5px;
width: 5px;
left: -5px;
bottom: -5px;
}

.awsme-typing-indicator span {
height: 8px;
width: 8px;
float: left;
margin: 0 1px;
background-color: #9E9EA1;
display: block;
border-radius: 50%;
opacity: 0.4;
}

.awsme-typing-indicator span:nth-of-type(1) {
animation: blink 1s infinite 0.3333s;
}

.awsme-typing-indicator span:nth-of-type(2) {
animation: blink 1s infinite 0.6666s;
}

.awsme-typing-indicator span:nth-of-type(3) {
animation: blink 1s infinite 1s;
}

@keyframes blink {
50% {
  opacity: 1;
}
}
@keyframes bulge {
50% {
  transform: scale(1.05);
}
}


/* Rich media elements css */
.awsme-cta-callout {
padding: 15px 0; 
display: flex; width: 100%;
white-space: inherit;
}
.awsme-cta-callout-label {
font-weight: bold;
}

.awsme-chat-gif,
.awsme-video-action {
  margin: 15px 0;
}


/* Email form */
.awsme-email-form-wrapper {
padding: 8px;
width: fit-content;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: 25px 0 10px;
min-width: 100%;
}
.awsme-email-form {
display: flex;
align-items: center;
align-items: stretch;
margin-bottom: 0 !important;
}
.awsme-email-form input[type=email] {
padding: 10px;
margin-right: 0px;
border-right: none;
-webkit-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
width: 100%;
height: auto !important;
font-size: 16px;
flex: 1 1 auto;
margin-bottom: 0;
}
.awsme-email-form button {
padding: 10px;
border: none;
-webkit-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
cursor: pointer;
flex: 1 1 auto;
}
.awsme-email-form button svg {
display: flex;
}
.awsme-email-form-wrapper p {
margin: 0;
text-align: center;
font-family: arial, san-serif;
}
.awsme-error-con {
width: 100%; 
margin-top: 5px;
}
.awsme-error-con p {
font-size: 12px;
color: #E8404A;
text-align: left;
}
